body {
	
	font-family: "apercu",sans-serif;
	margin: 5%;  
	margin-top: 1%;
	background: #F5DEB3;	

}
 h1 {
	text-transform: uppercase;
	font-size: 30px;
	letter-spacing: 0.8em;
	text-align: center;
	padding: 10%;
	margin-bottom: 1%;
	background-image: url("images/fatoni.jpg");
	 background-repeat: no-repeat;
	background-size: 100%;
	text-shadow: white 0.1em 0.1em 0.2em;

}
h3{


}
div, p {
	text-align: left;
}

header {
	
	margin: 1%;

}

/* box vom text zu fatoni index */

.box, .text {
	float: left;
	margin: 1%;
	padding: 2%;		
	background: #f90;


	}

/* box der tabelle zu den alben index */

.box2 {
	background: #f90;
	margin: 1%;

}


table {
	float: left;
	background: #f90;
	text-align: center; 
	
}

/* diskogrphie, boxen mit alben */

.al, .a1, .a2, .a3, .a4, .a5 {
float: left;
width: 345px;
min-height: 700px;
margin: 10px;
padding: 20px;
background: #f90;
	border: #452A00;
	



}

/* tabelle index mit alben */

td,th {
	background-color: #C60;
}

/* tabelle index */

.box2 table
{
	width: 100%;
	border-spacing: 10px;

}

a {
	color: black;
}
.dis{
	width: 300px;
	height: 300px;
}

.nav {
	clear: left;
}

/* bildergalerie */

.flex-box
{
	display: flex;
	width: 100%;
	height: auto;
}

.bilder:hover {
	color: #875100;
	background-color: #875100; 
    color: #000000; 
    border: 10px solid #4F2F00;
}

.bilder 
{
	margin: 20px;
	box-sizing: content-box;
	width: 80%;
	height: auto;
}

/** navigationsleiste **/

#navi li {
	display: inline;
	list-style-type: none;
	background-color: #FF9900;
	box-sizing: content-box;
	width: 100%;
	height: auto;
	
	
}

#navi a {
	color: black;
	text-decoration: none;
	
	
}

#navi a:hover
{
	background-color: #A66300;
	padding: 1% 1%;
}
	
#navi a:hover, #startseite #navi1 a, #diskographie #navi2 a, #bildergalerie #navi3 a {
	background-color: #875100;
	padding: 1% 1%;

}
.nav li{
	display: inline;
	list-style-type: none;


}
.nav a {
	color: black;
}
.nav {
	padding: 10px;
	background-color: #FF9900;
	
}